.columb>.image{

    width: 298px;
    height: 300px;
    text-align: center;
}
.columb>.image > a .image-1{
    background-image: url(anh/ao1truoc.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
    background-color: red;
}
.columb>.image > a .image-1:hover{
    background-image: url('/anh/ao1sau.png');   
}


.columb>.image>.image-2{
    background-image: url(anh/anhtruoc2.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-2:hover{
    background-image: url('anh/anhsau2.png');   
}


.columb>.image>.image-3{
    background-image: url(anh/anhtruoc3.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}


.columb>.image>.image-3:hover{
    background-image: url('anh/anhsau3.png');   
}
.columb>.image>.image-4{
    background-image: url(anh/anhtruoc4.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-4:hover{
    background-image: url('anh/anhsau4.png');   
}


.columb>.image>.image-5{
    background-image: url(anh/anhtruoc5.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-5:hover{
    background-image: url('anh/anhsau5.png');   
}


.columb>.image>.image-6{
    background-image: url(anh/anhtruoc6.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-6:hover{
    background-image: url('anh/anhsau6.png');   
}


.columb>.image>.image-7{
    background-image: url(anh/anhtruoc7.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-7:hover{
    background-image: url('anh/anhsau7.png');   
}

.columb>.image>.image-8{
    background-image: url(anh/anhtruoc8.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-8:hover{
    background-image: url('anh/anhsau8.png');   
}

.columb>.image>.image-9{
    background-image: url(anh/anhtruoc9.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-9:hover{
    background-image: url('anh/anhsau9.png');   
}

.columb>.image>.image-10{
    background-image: url(anh/anhtruoc10.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-10:hover{
    background-image: url('anh/anhsau10.png');   
}

.columb>.image>.image-11{
    background-image: url(anh/anhtruoc11.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-11:hover{
    background-image: url('anh/anhsau11.png');   
}

.columb>.image>.image-12{
    background-image: url(anh/anhtruoc12.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-12:hover{
    background-image: url('anh/anhsau12.png');   
}

.columb>.image>.image-13{
    background-image: url(anh/anhtruoc13.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-13:hover{
    background-image: url('anh/anhsau13.png');   
}

.columb>.image>.image-14{
    background-image: url(anh/anhtruoc14.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-14:hover{
    background-image: url('anh/anhsau14.png');   
}

.columb>.image>.image-15{
    background-image: url(anh/anhtruoc15.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-15:hover{
    background-image: url('anh/anhsau15.png');   
}


.columb>.image>.image-16{
    background-image: url(anh/anhtruoc16.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-16:hover{
    background-image: url('anh/anhsau16.png');   
}

.columb>.image>.image-17{
    background-image: url(anh/anhtruoc17.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-17:hover{
    background-image: url('anh/anhsau17.png');   
}


.columb>.image>.image-18{
    background-image: url(anh/anhtruoc18.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-18:hover{
    background-image: url('anh/anhsau18.png');   
}


.columb>.image>.image-19{
    background-image: url(anh/anhtruoc19.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-19:hover{
    background-image: url('anh/anhsau19.png');   
}


.columb>.image>.image-20{
    background-image: url(anh/anhtruoc20.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-20:hover{
    background-image: url('anh/anhsau20.png');   
}


.columb>.image>.image-21{
    background-image: url(anh/anhtruoc21.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-21:hover{
    background-image: url('anh/anhsau21.png');   
}


.columb>.image>.image-22{
    background-image: url(anh/anhtruoc22.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-22:hover{
    background-image: url('anh/anhsau22.png');   
}


.columb>.image>.image-23{
    background-image: url(anh/anhtruoc23.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-23:hover{
    background-image: url('anh/anhsau23.png');   
}


.columb>.image>.image-24{
    background-image: url(anh/anhtruoc24.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-24:hover{
    background-image: url('anh/anhsau24.png');   
}


.columb>.image>.image-25{
    background-image: url(/anh/anhtruoc25.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-25:hover{
    background-image: url('/anh/anhsau25.png');   
}


.columb>.image>.image-26{
    background-image: url(/anh/anhsau26.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-26:hover{
    background-image: url('/anh/anhtruoc26.png');   
}


.columb>.image>.image-27{
    background-image: url(/anh/anhtruoc27.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-27:hover{
    background-image: url('/anh/anhsau27.png');   
}


.columb>.image>.image-28{
    background-image: url(/anh/anhtruoc28.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-28:hover{
    background-image: url('/anh/anhsau28.png');   
}


.columb>.image>.image-29{
    background-image: url(/anh/anhtruoc29.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-29:hover{
    background-image: url('/anh/anhsau29.png');   
}


.columb>.image>.image-30{
    background-image: url(/anh/anhtruoc30.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-30:hover{
    background-image: url('/anh/anhsau30.png');   
}


.columb>.image>.image-31{
    background-image: url(/anh/anhtruoc31.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-31:hover{
    background-image: url('/anh/anhsau31.png');   
}


.columb>.image>.image-32{
    background-image: url(/anh/anhtruoc32.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-32:hover{
    background-image: url('/anh/anhsau32.png');   
}


.columb>.image>.image-33{
    background-image: url(/anh/anhtruoc33.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-33:hover{
    background-image: url('/anh/anhsau33.png');   
}


.columb>.image>.image-34{
    background-image: url(/anh/anhtruoc34.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-34:hover{
    background-image: url('/anh/anhsau34.png');   
}


.columb>.image>.image-35{
    background-image: url(/anh/anhtruoc35.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-35:hover{
    background-image: url('/anh/anhsau35.png');   
}


.columb>.image>.image-36{
    background-image: url(/anh/anhtruoc36.png);
    background-size: 100% 100%;
    width: 298px;
    height: 300px;
    transition: all 0.15s ease-in-out;    
}
.columb>.image>.image-36:hover{
    background-image: url('/anh/anhsau36.png');   
}
.columb>.image>.out{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    opacity: 1;
    width: 298px;
    height: 80px;
}



